<div class="row justify-content-center">
  <div class="col-12 col-xl-6 text-center">
    <h3>Start free, go deeper</h3>
    <p class="mt-3">
      We'll always release free content and do free workshops in select cities. But you can get more!
    </p>
  </div>
</div>

<div class="row mt-4 ce-fees justify-content-center">
  <div class="col-12 col-md-6 col-lg-4 mt-4">
    <div class="card">
      <div class="card-header bg-secondary p-4">
        <h4 class="text-white">Tourist</h4>
        <p class="mt-4 mb-2 d-flex flex-row align-items-end">
          <span class="d-flex flex-row align-items-center text-white font-weight-bold">
            <span class="font-weight-light h5 mr-1">$</span> <span class="h1 mb-0">0</span>
          </span>
          <span class="h5 text-white font-weight-light ml-2">/ month</span>
        </p>
      </div>
      <div class="card-body p-4">
        <ul class="list-unstyled mt-3">
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Free courses</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Free downloadables</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Community forums</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Level 1-2 workshops*</li>
        </ul>

        <h6 class="text-center mt-5 text-warning">coming soon</h5>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mt-4">
    <div class="card">
      <div class="card-header bg-secondary p-4">
        <h4 class="text-white">Astronaut</h4>
        <p class="mt-4 mb-2 d-flex flex-row align-items-end">
          <span class="d-flex flex-row align-items-center text-white font-weight-bold">
            <span class="font-weight-light h5 mr-1">$</span> <span class="h1 mb-0">29</span>
          </span>
          <span class="h5 text-white font-weight-light ml-2">/ month</span>
        </p>
      </div>
      <div class="card-body p-4">
        <p class="mt-3">Everything in Tourist, plus:</p>
        <ul class="list-unstyled mt-3">
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>All courses</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>All downloadables</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Self-paced projects</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Goal-setting call with a mentor</li>
        </ul>

        <h6 class="text-center mt-5 text-warning">coming soon</h5>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 mt-4">
    <div class="card">
      <div class="card-header bg-secondary p-4">
        <h4 class="text-white">Deep explorer</h4>
        <p class="mt-4 mb-2 d-flex flex-row align-items-end">
          <span class="d-flex flex-row align-items-center text-white font-weight-bold">
            <span class="font-weight-light h5 mr-1">$</span> <span class="h1 mb-0">399</span>
          </span>
          <span class="h5 text-white font-weight-light ml-2">/ month</span>
        </p>
      </div>
      <div class="card-body p-4">
        <p class="mt-3">Everything in Astronaut, plus:</p>
        <ul class="list-unstyled mt-3">
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Personal mentorship</li> <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Personal projects</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Career counselling</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>Job interview preparation</li>
          <li class="mb-3"><i class="far fa-check-circle text-secondary mr-2"></i>All workshops*</li>
        </ul>

        <h6 class="text-center mt-5 text-warning">coming soon</h5>
      </div>
    </div>
  </div>



  <div class="col-12 mt-3 text-center">
    <p class="text-center small mb-3">* in <a href="https://www.meetup.com/Learn-To-Code-Helsinki/" target="_blank">select cities</a> in Europe</p>

    <h2 class="mt-5">Questions?</h2>
    <p>Reach us right now or schedule a call.</p>
  </div>
</div>
