<footer class="border-top container-fluid">
  <div class="row py-5">
    <div class="col-12 text-center">
      <p>Codexpanse 2018</p>
      <p class="h3">
        <a class="mx-2 text-body" href="https://www.youtube.com/c/codexpanse"><i class="fab fa-youtube"></i></a>
        <a class="mx-2 text-body" href="https://twitter.com/codexpanse"><i class="fab fa-twitter"></i></a>
        <a class="mx-2 text-body" href="https://fb.me/codexpanse"><i class="fab fa-facebook-square"></i></a>
        <a class="mx-2 text-body" href="https://www.twitch.tv/codexpanse"><i class="fab fa-twitch"></i></a>
        <a class="mx-2 text-body" href="https://medium.com/codexpanse"><i class="fab fa-medium"></i></a>

      </p>
    </div>
  </div>
</footer>
