<nav class="navbar navbar-expand-md navbar-light border-bottom ce-navbar">
  <a class="navbar-brand mb-0 h1 text-secondary" href="/">
    <img class="mr-1" src="/images/codexpanse.svg" width="31" height="31" alt="" style="margin-bottom:2px;">
    codexpanse
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://learn.codexpanse.com/collections" target="_blank">All courses</a>
      </li>
      <!-- <li class="nav-item">
           <a class="nav-link" href="https://blog.codexpanse.com">Blog</a>
           </li> -->
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://ccs.codexpanse.com">Encyclopedia</a>
      </li>

      <!-- <li class="nav-item">
           <a class="btn btn-primary" href="https://learn.codexpanse.com/auth/sign-in/">Log in</a>
           </li> -->
    </ul>
  </div>
</nav>
